<!DOCTYPE html>

<html>
    <head>
        <title>About</title>        {{!-- This shows up on the web page's tab --}}
        <link rel="icon" href="/img/Weather1.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{!-- <h1>{{title}}</h1> --}}
        {{!-- <p>Created by: {{name}} </p> --}}
        {{!-- <img src="./img/ID front.jpg"> --}}
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/ID front.jpg">
        </div>
        {{>footer}}
    </body>
</html>